Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, make lint-text, shellcheck, actionlint

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  c7e97ad833d33bbd316dbd2f684de0ed3f6c0415
Due: secretlint, prettier -c

feat(build): bump actionlint from 1.6.12 to 1.6.13
  .tool-versions
Due: secretlint, prettier -c

feat(ci): update comments
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
Due: secretlint, prettier -c, actionlint

feat(ci): surround `on` key in YAML with double quotations to fix yamllint warnings
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(docs): add Deadline section to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint, prettier -c, markdownlint, make lint-text

feat(ci): update comment
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(ci): rename Test job to Lint job
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(chore): update .gitignore
  .gitignore
Due: secretlint, prettier -c

feat(build): upgrade Node.js and npm versions
  .node-version
  package.json
Due: secretlint, prettier -c

feat(build): update dependencies
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  cb3df6370e272e380065556f724ed5d85ee5363e
Due: secretlint, prettier -c

feat(ci): move the position of `Lint: npm` step
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  caf8a6af6bcfb30bc4c2e2276f1716f025821c13
Due: secretlint, prettier -c

feat(ci): add commented out feature of auto request reviews for Dependabot PR
  .github/workflows/dependabot.yml
Due: secretlint, prettier -c, actionlint

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  cba11540ee58aca32ce2d59a5334161c72442b3c
Due: secretlint, prettier -c

fix(docs): remove trailing whitespaces
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint, prettier -c, markdownlint, make lint-text

fix(docs): update Contributing Guideline
  CONTRIBUTING.md
Due: secretlint, prettier -c, markdownlint, make lint-text

fix(build): update dependencies
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  ce22cb605a99d40e6921c08f72960bd200f7963c
Due: secretlint, prettier -c

feat(readme): remove `[Draft]` prefix from Japanese version description
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

feat(ci): add `Lint: PR title` workflow
  .github/workflows/lint-pr-title.yml
Due: secretlint, prettier -c, actionlint

feat(docs): change positions of the Requirements section
  CONTRIBUTING.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

feat(chore): install yamllint
  .github/vale_styles/Vocab/MyVocab/accept.txt
  .yamllint.yml
  CONTRIBUTING.md
  Makefile
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

feat(chore): use yamllint instead of Prettier for linting YAML
  .prettierignore
Due: secretlint, prettier -c

feat(chore): add YAML lint to lint-staged settings
  .lintstagedrc.yml
Due: secretlint, prettier -c

feat(chore): update ignore files
  .markdownlintignore
  .prettierignore
Due: secretlint, prettier -c

chore(style): fix YAML styles to suppress yamllint erros and warnings
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .markdownlint.yml
  .releaserc.yml
Due: secretlint, prettier -c, actionlint

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  4ecdf6070a65284aa6619f1addede386686d50a2
Due: secretlint, prettier -c

fix(build): update npm dependencies
  package-lock.json
Due: secretlint, prettier -c

feat(chore): update Makefile
  Makefile
Due: secretlint, prettier -c

feat(docs): update documents
  CONTRIBUTING.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

feat(ci): add yamllint step to CI
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  06f942c207310332380dc1b3823d69fc04b8eb28
Due: secretlint, prettier -c

Path conditions:
  secretlint: any of: *
  prettier -c: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  shellcheck: any of: {*.sh,.husky/*}
  actionlint: any of: .github/workflows/*.{yml,yaml}
