Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, actionlint

feat(docs): update documents
  README.md
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(chore): update package.json
  package.json
Due: secretlint, prettier --check

chore(release): 7.15.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  d43a09f08c821575fd45d29d7b9bcac33ce4ec0a
Due: secretlint, prettier --check

feat(chore): add .secretlintignore
  .secretlintignore
Due: secretlint, prettier --check

feat(chore)!: remove ShellCheck lint
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/extensions.json
  Makefile
  README.md
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, actionlint

feat(chore): delete unnecessary specification in .prettierignore
  .prettierignore
Due: secretlint, prettier --check

chore(release): 8.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  1fb7e2e236ab1196eb03524930b00744b501d008
Due: secretlint, prettier --check

feat(chore): update npm script
  package.json
Due: secretlint, prettier --check

chore(release): 8.1.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  1f1f86e28d5810efc7c3e552d986943ae63f0f17
Due: secretlint, prettier --check

feat(chore)!: update recommended VS Code extensions
  .vscode/extensions.json
Due: secretlint, prettier --check

feat(chore): update .tool-versions
  .tool-versions
Due: secretlint, prettier --check

feat(chore): update engines of package.json
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): update npm packages
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(docs): update documents
  README.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(docs): update Contributing Guideline
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(chore): update .prettierignore
  .prettierignore
Due: secretlint, prettier --check

feat(chore): update .gitignore
  .gitignore
  .gitignore_custom
Due: secretlint, prettier --check

docs: add AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  d3d73029cae4762309be63390c3346b0223d0da6
Due: secretlint, prettier --check

chore(release): 9.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yml: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  actionlint: any of: .github/workflows/*.{yml,yaml}
