Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, actionlint

chore(release): 5.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  6c83ade5af3ea140ab4c9bd0d529c190ba792782
Due: secretlint, prettier --check

feat(ci): update Release workflow
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 5.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  5a41e31e68050e24378eea811e28f83ee5888cc9
Due: secretlint, prettier --check

ci!: delete build step from Release workflow
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 6.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  a2c0171ccea2f8a65447c16e9c57f18a0071a7b8
Due: secretlint, prettier --check

feat(chore): change the plugin order of semantic-release
  .releaserc.yml
Due: secretlint, prettier --check, make lint-yml

chore(release): 6.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  4590a175ccd664e24038cabe670d1d50ed7a57ee
Due: secretlint, prettier --check

feat(ci): add a blank line for readability
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 6.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  fdd5981aea0929cddd9a1fc0f2b3ea778b77c1c5
Due: secretlint, prettier --check

docs!: move the documentation files to docs/ dir
  .github/vale_styles/Vocab/Base/accept.txt
  .github/workflows/test.yml
  .markdownlintignore
  .releaserc.yml
  Makefile
  README.md
  docs/.keep
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/SECURITY.md
Due: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, actionlint

chore(release): 7.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  b5b75bd15b57918c186b21a1010fd03b045dcf5f
Due: secretlint, prettier --check

feat(docs): update documentation
  .github/vale_styles/Vocab/Base/accept.txt
  README.md
  docs/README.md
  docs/_config.yml
Due: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml

chore(release): 7.1.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  6fe9c99dc55c52b60970bc009dba58092b2ee955
Due: secretlint, prettier --check

feat(docs): update README and Contributing Guideline
  README.md
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 7.2.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  331ce72629a47020ab05af7f1679bafc88d20d30
Due: secretlint, prettier --check

ci: update comment
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

feat(ci): update comment
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 7.3.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  1565ffa8f0e6406a303c7962fe89d86e1555126a
Due: secretlint, prettier --check

feat(build): upgrade Node.js and npm versions
  .node-version
  package.json
Due: secretlint, prettier --check

feat(chore): upgrade actionlint version
  .tool-versions
Due: secretlint, prettier --check

feat(build): upgrade npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(docs): update Requirements section in Contributing Guideline
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 7.4.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  2ea5d7926f41755b18ebf92c0463286448a526cb
Due: secretlint, prettier --check

feat: improve .lintstagedrc.yml
  .lintstagedrc.yml
Due: secretlint, prettier --check, make lint-yml

build: upgrade Node.js and npm
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 7.5.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  1f2fb09b1d4d6f838fa7de7ec59bb781df2c9822
Due: secretlint, prettier --check

feat(build): upgrade npm version
  package-lock.json
  package.json
Due: secretlint, prettier --check

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yml: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  actionlint: any of: .github/workflows/*.{yml,yaml}
