Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, actionlint

Notes added by 'git notes add'
  dc257120e2f433f76bae6171afcb466fe1b6eef1
Due: secretlint, prettier --check

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

build: upgrade Node.js version
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

build(npm): upgrade dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(Dependabot)!: change Dependabot interval from daily to weekly
  .github/dependabot.yml
Due: secretlint, prettier --check, make lint-yml

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  2c65af6cd0a27114bd984e0456afd7152b07f6ca
Due: secretlint, prettier --check

fix(chore): fix .lintstagedrc.yml
  .lintstagedrc.yml
Due: secretlint, prettier --check, make lint-yml

feat(ci): add Build and Test steps which are commented out to Test workflow
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

feat(build): upgrade actionlint to v1.6.17
  .tool-versions
Due: secretlint, prettier --check

feat(chore): change engines value of package.json
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(docs): update Requirements table of Contributing Guideline
  CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(docs): update security_overview.png
  images/security_overview.png
Due: secretlint, prettier --check

feat(docs): update README.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(build): upgrade npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  a384634c7d759d99e3f903b4292abdfe51605a1e
Due: secretlint, prettier --check

feat(chore): update author value of package.json
  package.json
Due: secretlint, prettier --check

chore(release): 5.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  47452e9c759ed340b88c52b7a7e4e5ec4a885ce4
Due: secretlint, prettier --check

feat(ci): delete unnecessary comments
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 5.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  31cd8ae2bd01c5154206377b37691091cc86f05a
Due: secretlint, prettier --check

feat(chore): add arahata.linter-actionlint as a recommended VS Code extension
  .vscode/extensions.json
Due: secretlint, prettier --check

chore(release): 5.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  0246db77322b31f83d623438325f23f1c5bfa500
Due: secretlint, prettier --check

feat(chore): change (revert) engines values of package.json
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 5.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  1515c76834074e59e2b96f3627d2230198022b1c
Due: secretlint, prettier --check

feat(ci): update Release workflow
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

feat(ci): update Test workflow
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

Notes added by 'git notes add'
  d87fbf1d9eccea9d8a36bbfb7ddc99fd500b2f47
Due: secretlint, prettier --check

chore(release): 5.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(ci): update the comment
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 5.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  c52a410e05cd703ef7c1d38708e9b593b3022881
Due: secretlint, prettier --check

chore(release): 5.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  9ee43a29fe67ebeeeca57c8480e6fe64372069e9
Due: secretlint, prettier --check

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yml: any of: *.{yml,yaml}
  shellcheck: any of: {*.sh,.husky/*}
  actionlint: any of: .github/workflows/*.{yml,yaml}
