Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, make lint-text, shellcheck, actionlint

docs: add images and update README.md
  .github/vale_styles/Vocab/MyVocab/accept.txt
  README.md
  images/community_standards.png
  images/contributors.png
  images/security_overview.png
Due: secretlint, prettier -c, markdownlint, make lint-text

ci: update .github/workflows/test.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

chore: change option to be more descriptive
  .husky/commit-msg
Due: secretlint, prettier -c, shellcheck

ci: add link
  .github/workflows/dependabot.yml
Due: secretlint, prettier -c, actionlint

chore: add VS Code setting files
  .vscode/extensions.json
  .vscode/settings.json
Due: secretlint, prettier -c

docs: update README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

chore: change script name
  package.json
Due: secretlint, prettier -c

ci: update Test workflow
  .github/workflows/test.yml
  package.json
Due: secretlint, prettier -c, actionlint

build: upgrade npm dependencies
  package-lock.json
Due: secretlint, prettier -c

chore: change options to be more descriptive
  package.json
Due: secretlint, prettier -c

docs: update code of conduct
  CODE_OF_CONDUCT.md
Due: secretlint, prettier -c, markdownlint, make lint-text

docs: update security policy
  SECURITY.md
Due: secretlint, prettier -c, markdownlint, make lint-text

build: change version specification of markdownlint-cli and update package-lock.json
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore: move _dependabot.yml to dependabot.yml
  .github/dependabot.yml
Due: secretlint, prettier -c

feat: release initial version (v1.0.0)
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  79fddfb067b0c8536079a948c8bba63f732b4454
Due: secretlint, prettier -c

docs(images): update contributors.png
  images/contributors.png
Due: secretlint, prettier -c

docs: update contributors.png
  images/contributors.png
Due: secretlint, prettier -c

fix(.vscode/): correct editorconfig.editorconfig to EditorConfig.EditorConfig
  .vscode/extensions.json
Due: secretlint, prettier -c

feat(.vscode/): add RomanPeshkov.vscode-text-tables extension
  .vscode/extensions.json
Due: secretlint, prettier -c

feat(README.md): clarify the instruction
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  f7abf23fbe17dae9046a00885f48cecb84fbd582
Due: secretlint, prettier -c

fix(ci): delete redundant setting of Dependabot auto-approve/merge workflow
  .github/workflows/dependabot.yml
Due: secretlint, prettier -c, actionlint

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  5a57672b6f4d69de8c286ca2f94210fd72f34fe1
Due: secretlint, prettier -c

feat(ci): change to skip commitlint in Test workflow if a commit is created by Dependabot
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(ci): upgrade errata-ai/vale-action version from 1 to 2
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(build): upgrade npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier -c

feat(docs): update Contributing Guideline
  CONTRIBUTING.md
Due: secretlint, prettier -c, markdownlint, make lint-text

feat(docs): update README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

feat(chore): add VS Code recommended extensions
  .vscode/extensions.json
Due: secretlint, prettier -c

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  21b799bb7db13b1eb75dd7006518ada5d4417e7b
Due: secretlint, prettier -c

feat(docs): add Languages section to README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  2ef4b5b6c2af433e90206f293fda605bcee9ca92
Due: secretlint, prettier -c

fix(docs): update README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

Path conditions:
  secretlint: any of: *
  prettier -c: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  shellcheck: any of: {*.sh,.husky/*}
  actionlint: any of: .github/workflows/*.{yml,yaml}
