Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, actionlint

feat(docs): update Contributing Guideline
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 7.6.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  b613422966e29856361e03d7aa9706824c32984b
Due: secretlint, prettier --check

chore(release): 7.7.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  18e641d104f363cf7f80d53c4dea30bfd3bedcf8
Due: secretlint, prettier --check

feat(docs): update Usage description of README.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(chore): remove `git+` prefix from repository.url of package.json
  package.json
Due: secretlint, prettier --check

chore(release): 7.8.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  5ece35f7e8f4555cc3fbf11c9a749c49446ffb62
Due: secretlint, prettier --check

feat(chore): update Vale VS Code extension
  .vscode/extensions.json
Due: secretlint, prettier --check

feat(build): upgrade npm packages
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): upgrade actionlint
  .tool-versions
Due: secretlint, prettier --check

feat(docs): update README
  .github/vale_styles/Vocab/Base/accept.txt
  README.md
  images/community_standards.png
  images/security_overview.png
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 7.9.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  fc55cbe15dc0421e01e5e61b6be5ca4c0a029dc6
Due: secretlint, prettier --check

feat(build): upgrade Node.js and npm versions
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 7.10.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  02b3502ad0ee6d97a96601be21983a0c3f6500c2
Due: secretlint, prettier --check

feat(chore): update Husky files
  .husky/commit-msg
  .husky/pre-commit
Due: secretlint, prettier --check, shellcheck

chore(release): 7.11.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  8987d5540e71c635c746bd77e71e01a8104c4049
Due: secretlint, prettier --check

feat(docs): update README.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(chore): update npm run-scripts for Yarn
  package.json
Due: secretlint, prettier --check

chore(release): 7.12.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  9959c1e2c2ddd5a536e67fcd3fe1d6853b5ffba6
Due: secretlint, prettier --check

ci: update GitHub Action versions
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

feat(chore): change to use .tool-versions for specifying Node.js version
  .github/workflows/release.yml
  .github/workflows/test.yml
  .node-version
  .tool-versions
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, actionlint

feat(chore): change Vale styles directory structure
  .github/styles/config/vocabularies/Base/accept.txt
  .github/styles/config/vocabularies/Base/reject.txt
  .gitignore
  .gitignore_custom
  .markdownlintignore
  .prettierignore
  .vale.ini
  .yamllint.yml
Due: secretlint, prettier --check, make lint-yml

feat(chore): upgrade actionlint version from 1.6.24 to 1.7.0
  .tool-versions
Due: secretlint, prettier --check

feat(chore): upgrade Node.js and npm versions
  .tool-versions
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): upgrade npm packages
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(fix): downgrade conventional-changelog-conventionalcommits to v7
  package-lock.json
  package.json
Due: secretlint, prettier --check

Notes added by 'git notes add'
  5c1f2327094af678514b59a2733479f0e8c113fc
Due: secretlint, prettier --check

chore(release): 7.13.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 7.14.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  7da24e369e319bb56c1692a92e95ade6cf30a55e
Due: secretlint, prettier --check

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yml: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  actionlint: any of: .github/workflows/*.{yml,yaml}
