Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, make lint-text, shellcheck, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier -c
"*.{md,markdown}":
  - markdownlint
  - make lint-text
"{*.sh,.husky/*}": shellcheck
".github/workflows/*.{yml,yaml}": actionlint

feat(ci): improve CI
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(docs): update README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  8202767fb08d8be964781262ab3b2d0ce2c6d208
Due: secretlint, prettier -c

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

fix(docs): update README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  673e25249b04b2ff352179b93f8cc0c6c4e515c9
Due: secretlint, prettier -c

feat(chore): replace boilerplates to boilerplate in a Vale accept words list
  .github/vale_styles/Vocab/MyVocab/accept.txt
Due: secretlint, prettier -c

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  1ebbd79a6b4035bc28c127863b603beafbb38976
Due: secretlint, prettier -c

feat(chore): prefer descriptive option names to short ones
  .lintstagedrc.yml
Due: secretlint, prettier -c

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  9f2187f0dc79ef1d5a45608bacdfb37994cb4266
Due: secretlint, prettier -c

feat(chore): rename MyVocab/ to Base/
  .github/vale_styles/Vocab/Base/accept.txt
Due: secretlint, prettier -c

feat(chore): update .vale.ini
  .vale.ini
Due: secretlint, prettier -c

feat(chore): update .gitignore* to ignore Vale style files
  .gitignore
  .gitignore_custom
Due: secretlint, prettier -c

feat(chore): add `vale sync` command to `make install` task
  Makefile
Due: secretlint, prettier -c

feat(chore): add reject.txt for Vale
  .github/vale_styles/Vocab/Base/reject.txt
Due: secretlint, prettier -c

feat(ci): move Vale lint from Test workflow to reviewdog workflow
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(build): update npm depenedencies
  package-lock.json
Due: secretlint, prettier -c

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  8151c533618b785a1d3a4f6f82527836589ac384
Due: secretlint, prettier -c

feat(ci): move Vale lint step from reviewdog workflow to Test workflow
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(chore): change Vale's MinAlertLevel from warning (default) to suggestion
  .vale.ini
Due: secretlint, prettier -c

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  887c9964311b383870b9fa59dfcfdfd3a79dcdd8
Due: secretlint, prettier -c

feat(chore): update specifications of vale_styles/ pathes
  .github/workflows/test.yml
  .markdownlintignore
  Makefile
Due: secretlint, prettier -c, actionlint

feat(build): update npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  b14ad9927feedbec7720d5d2e0f8a21ff1cff1dd
Due: secretlint, prettier -c

feat(chore): update .PHONY descriptions of Makefile
  Makefile
Due: secretlint, prettier -c

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  73b013cc3c85d20a5de7add31829a0d25b14158d
Due: secretlint, prettier -c

feat(chore): update lint task of Makefile
  Makefile
Due: secretlint, prettier -c

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text

Notes added by 'git notes add'
  3ee3c1496cd3ef61bf01f1d050503114d42d4487
Due: secretlint, prettier -c

feat(ci): change version specifications of GitHub Actions used in this repo
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint, make lint-text
