Repository haru52/base_template: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yaml, shellcheck, actionlint

Notes added by 'git notes add'
  79ba5fd3f352327538a1a39fc03bd446a5714c7c
Due: secretlint, prettier --check

feat(ci): remove unnecessary brackets
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yaml, actionlint

feat(docs): apply some Vale suggestions
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(ci): change to use “preceding” instead of “above”
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yaml, actionlint

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  278ce90b6299863b6adb49376d8e5239832f560b
Due: secretlint, prettier --check

feat(docs): update Contributing Guideline
  CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(build): update npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  a968d34a30a6f9f23864e5ce6ea1d9becbc8f52a
Due: secretlint, prettier --check

feat(build): update Node.js version from 16.15.1 to 16.16.0
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(build): update actionlint version from 1.6.13 to 1.6.15
  .tool-versions
Due: secretlint, prettier --check

build!: delete eg2.vscode-npm-script VS Code extension
  .vscode/extensions.json
Due: secretlint, prettier --check

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  400b5d412c6005ad577fd882bb9b73962c5a90af
Due: secretlint, prettier --check

feat(build): upgrade npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  17a3e668a06be63a2473a1d074ab04d2d0048eb5
Due: secretlint, prettier --check

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  6524e0692eed92a6c80d54164f6bdfc262d732f8
Due: secretlint, prettier --check

feat(chore)!: rename `make install` to `make dev-install`
  Makefile
Due: secretlint, prettier --check

feat(docs): update documents
  .github/vale_styles/Vocab/Base/accept.txt
  CONTRIBUTING.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  1f97a73a8fa05916a37faab62035f133ce0f9206
Due: secretlint, prettier --check

feat(build): upgrade npm dependencies
  package-lock.json
Due: secretlint, prettier --check

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  a819fc3d4a8b7c61bab61be6fedfd7021f93f39e
Due: secretlint, prettier --check

feat(docs): update README.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  7b05e41fe8b98f6900b97db70fe5577f7076ce46
Due: secretlint, prettier --check

feat(docs): rename the heading from Versioning to Versioning policy in README.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

feat(docs): update Requirements table of Contributing Guideline
  CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  a0310ba2a3520996b685a37e7f2d7e0cd6242c1a
Due: secretlint, prettier --check

feat(chore)!: rename `make lint-yaml` to `make lint-yml`
  Makefile
Due: secretlint, prettier --check

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  0fde0fe8e0abac4522dfe94c40caef4dca8eac1b
Due: secretlint, prettier --check

fix: fix a bug of .lintstagedrc.yml
  .lintstagedrc.yml
Due: secretlint, prettier --check, make lint-yaml

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yaml: any of: *.{yml,yaml}
  shellcheck: any of: {*.sh,.husky/*}
  actionlint: any of: .github/workflows/*.{yml,yaml}
